# Excluir archivos sin extension (binarios de Linux)
*
!*/
!*.*
!**/Makefile
!Makefile
!README*
!.gitignore

# Objetos y binarios
*.o
*.out
*.exe

# Imágenes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg

# Documentos Markdown
*.md

# Subcarpetas "informe"
informe/

# Carpeta scanner
scanner/
